[Unit]
Description=OTA Updates Service
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /update/ota_service.sh
StandardOutput=append:/var/log/ota_update.log
StandardError=append:/var/log/ota_update.log
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
